#content{
	text-align: center;
	width: 100%;
    margin: 0 auto;
    max-width: 800px;
}
#content img{
	max-width: 100%
}
#sec6{
	background: #f9f5ec;
	padding: 60px 0
}
#sec6>p{
	margin-top: 50px;
	padding: 0 5%;
}
.type{
	font-size: 0;
	text-align: center
}
.type>li{
	display: inline-block;
	width: 33.3%;
	height: 80px;
	line-height: 80px;
	background-repeat: no-repeat;
	background-position: top;
	cursor: pointer;
	background: #c6c6c6;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	position: relative;
	z-index: 1
}
.type>li.click{
	background: #77c391;
	color: #fff
}
.type>li.click::after{
	display: block;
	content: '';
	width: 0px;
	height: 0px;
	border-top:20px solid #77c391;
	border-bottom:20px solid transparent;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	margin: 0 auto
}
.product_box{
	background: #f4f4f4
}
.product_box>li{
	display: none
}
.video{
	margin-top: 30px;
}
.video-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50%;
}
iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
#footer{
	max-width: 800px;
	margin: 0 auto;
	padding: 25px 0;
	color: #888;
    font-size: 13px;
	text-align: center;
	background: #333;
	color: #fff
}
#footer img{
	width: auto;
	height: 60px;
	margin-bottom: 20px
}
#footer .info_box{
	line-height: 1.8;
	font-size: 12px;
	word-break: keep-all;
	margin-top: 20px
}
#footer .util{
	margin: 0 auto;
	display: inline-block;
	font-size: 0;
	border: 1px solid #fff
}
#footer .util>li{
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
	border-right: 1px solid #fff;
	padding: 10px 0;
	letter-spacing: -1px;
	width: 120px
}
#footer .util>li:last-child{
	border-right: 0
}
#footer .agency{
    margin-top: 15px;
	word-break: keep-all;
}
#footer .agency label{
    display: inline-block;
    background: #888;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
	color: #fff;
	font-size: 12px
}
#footer .copy{
    margin-top: 20px;
	color: #aaa
}
#contact .btn_tit .tit{
	display: none
}
#contact .btn_tit .contact_btn{
	display: block;
	content: '';
	background: url(../images/down_btn.png) no-repeat center;
	width: 50px;
	height: 25px;
	border-radius: 10px 10px 0 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color : #fff !important;
	z-index: 99;
	border: 2px solid #000;
	border-bottom: 0 none;
	box-sizing: border-box;
	cursor: pointer;
}

#contact .btn_tit.click .contact_btn{
	background: url(../images/top_btn.png) no-repeat center;
	bottom: 0
}
#contact{
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 800px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99
}
#contact .area_box{
	background: #fff;
	border: 2px solid #000;
	border-bottom: 0 none;
	padding: 30px;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0
}
#contact .title{
	font-weight: 600;
	color: #000;
	border-bottom: 2px solid #000;
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	float: left
}
#contact .con_box{
	float: right;
	width: calc(100% - 180px)
}
#contact .con_box .info_box{
	float: left
}
#contact .con_box .info_box .text{
	border: 1px solid #ddd;
	height: 45px;
	padding: 0 10px;
	width: 260px;
	box-sizing: border-box
}
#contact .con_box .info_box .sm_text{
	width: 180px
}
#contact .con_box .button{
	float: right;
}
#contact .con_box .button button{
	background: #1a2d6b;
	color: #fff;
	height:45px;
	border: 0 none;
	padding: 0;
	font-family: inherit;
	cursor: pointer;
	width: 90px
}

/* Customize the label (the container) */
.container{
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
	margin-top: 10px;
	padding-left: 30px;
	text-align: left
}

/* Hide the browser's default checkbox */
.container input {

  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark{
  position: absolute;
  top: -3px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  left: 0
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #1a2d6b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	top: 2px;
	width: 6px;
	height: 12px;
	left: 7px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.container a{
	font-weight: 600;
	color: #888
}

#footer .info_box,
#footer .copy{
	font-size: 11px
}
#footer .agency,
#footer .agency label{
	font-size: 11px;
}
#footer .agency{
	line-height: 1.6
}
#footer .agency label{
	line-height: 1;
	display: inline-block;
}
#contact .area_box{
	padding: 2.5%;
	padding-bottom: 30px;
}
#contact .title{
	display: none
}
#contact .con_box{
	float: none;
	width: 100%;
}
#contact .con_box .info_box .text{
	width: 100% !important;
	height: 40px;
	margin: 5px 0
}
.container{
	font-size: 12px;
	width: 100%
}
#contact .con_box .info_box{
	width: calc(100% - 100px)
}
#contact .con_box .button button{
	height: 90px;
	width: 90px
}
#contact .con_box .info_box .text{
	margin: 0;
	margin-bottom: 10px
}
#contact .btn_tit .contact_btn{
	bottom: 140px
}
.type>li{
	height: 60px;
	line-height: 60px;
	font-size: 20px
}
.type>li.click::after{
	border-width: 10px
}
#contact .btn_tit .tit{
	display: block;
	height: 50px;
	line-height: 50px;
	bottom: 0;
	left: 0;
	text-align: center;
	border-top: 2px solid #000;
	background: #fff;
	font-weight: 600
}
#contact .btn_tit.click .contact_btn{
	bottom: 50px
}
.btns_bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(14,16,39, .9);
	color: #fff;
	text-align: center;
	z-index: 999
}
.btns_bottom button{
	padding: 0;
	border: 0 none;
	background: none;
	cursor: pointer;
	height: 64px;
	line-height: 64px;
	font-weight: 600;
	font-size: 26px;
}
.btns_bottom button span{
	color: #ffedbb
}
.modal-content{
	border-radius: 0
}
.modal .modal-header{
	padding: 0
}
.modal .modal-header img{
	width: 100%
}
.left_area{
	position: relative
}
.info_box .text {
    border: 0 none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 54px;
    background: #f7f7f7;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.info_box .button button {
    background: #0e1027;
    width: 100%;
    height: 54px;
    padding: 0;
    cursor: pointer;
    border: 0 none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
    position: relative;
	margin-top: 30px;
}
button.close {
    position: absolute;
    right: 0;
    top: -70px;
    opacity: 1;
    color: #fff !important;
    font-size: 65px;
    font-weight: 100;
	z-index: 8888;
	opacity: 1 !important;
}
.modal-dialog{
	margin: 60px auto
}